*{
    margin: 0;
    padding: 0;
    
}
nav{
    width: 100%;
    height: 50px;
    background-color: rgb(89, 89, 181);
    display: flex;
    justify-content: end;

}
.icons{
    width: 48px;
    height: 48px;
    margin-right: 16px;
    cursor: pointer;
}
.modal{
    position: absolute;
    right: 0;
    width: 200px;
    height: 100vh;
    border: 1px solid black;
}
.divCard{
    width: 300px;
    height: 250px;
    border: 1px solid black;
}
img{
    width: 300px;
    height: auto;
}